<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.twitter.android" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.whatsapp" />
        <package android:name="org.telegram.messenger" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <package android:name="com.facebook.katana" />
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="video/*" />
        </intent>
    </queries>


    <application
        android:label="media_player"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:extractNativeLibs="true"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <service
            android:name="com.ryanheise.audioservice.AudioService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:usesCleartextTraffic="true"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.DisableImpeller"
                android:value="true" />
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />


            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <!--    <queries>-->
    <!--        <intent>-->
    <!--            <action android:name="android.intent.action.PROCESS_TEXT"/>-->
    <!--            <data android:mimeType="text/plain"/>-->
    <!--        </intent>-->
    <!--    </queries>-->
</manifest>


    <!--<key>NSPhotoLibraryUsageDescription</key>-->
    <!--<string>We need access to your photo library to save trimmed videos.</string>-->
    <!--<key>NSPhotoLibraryAddUsageDescription</key>-->
    <!--<string>We need access to your photo library to save trimmed videos.</string>-->

    <!--    platform :ios, '13.0'-->


    <!--    url_launcher:-->
    <!--    rating_dialog:-->
    <!--    flutter_staggered_animations:-->
    <!--    google_mobile_ads:-->
    <!--    shimmer:-->
    <!--    lottie:-->
    <!--    flutter_secure_storage:-->
    <!--    connectivity_plus:-->
    <!--    app_settings:-->
    <!--    flutter_local_notifications:-->
    <!--    better_player_plus:-->
    <!--    flick_video_player:-->
    <!--    visibility_detector:-->
    <!--    screen_brightness:-->
    <!--    volume_controller: ^2.0.3-->
    <!--        gal:-->
    <!--        video_trimmer:-->
    <!--        video_thumbnail:-->